$breakpoint_xxl: 1200px;
$breakpoint_xl: 1050px;
$breakpoint_l: 1000px;
$breakpoint_800: 800px;
$breakpoint_s: 560px;
$backgroundContact:  50.76% 90.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%;
